:root {
	--primary-color: #ADC178;
	--secondary-color: #F0EAD2;
	--accent1-color: #A98467;
	--accent2-color: #DDE5B6;
    --heading-font: "Cabin", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
}

.hero article img {
    float: right;
    width: 155px;
    border-radius: 8px;
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero article p {
    overflow: hidden;
}

footer .socialmedia img {
    width: 30px;
}