:root {
	--primary-color: #ADC178;
	--secondary-color: #627236;
	--accent1-color: #8b6a50;
	--accent2-color: #283618;
    --heading-font: "Cabin", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color:var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 70px;
}

.hero article {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    overflow: hidden;
}

.hero article img {
    float: right;
    width: 155px;
    border-radius: 15px;
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero article p {
    overflow: hidden;
}

footer .socialmedia img {
    width: 30px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
    padding: 25px 25px 25px 25px;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.main-nav a {
    padding: 10px 20px;
    background-color: var(--accent1-color);
    color: white;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease, color 0.3s ease;

    transition: transform 0.35s ease;
}

.main-nav a:hover {
    background-color: var(--accent2-color);
    transform: scale(1.2);
}

.history h2 {
    text-align: center;
    font-size: 50px;
    padding: 20px 10px 50px 10px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.history-content img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.text-left, .text-right {
    display: flex;
    min-width: 200px;
    text-align: left;
}

.adventure div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px 10px 0px;
}
.adventure h2 {
    text-align: center;
    font-size: 28px;
    padding: 10px;
}

.adventure img {
    width: 250px;
}

footer {
    display: flex;
    border-top: 5px solid var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

.socialmedia a img{
    transition: transform 0.10s ease;
}

.socialmedia a:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

figure {
    text-align: center;
    font-size: 12px;
}