* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "merriweather", "Georgia", "Serif";
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: larger;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  text-align: center;
}

form {
    display: grid;
    width: 640px;
    margin: 0 auto;
    padding: 10px;
    border: 4px solid gray;
    border-radius: 15px;
    background-color: #eee;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid gray;
}

fieldset legend {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(110, 181, 243);
}

label, input, button, select, textarea {
  font-family: "Roboto", "Arial, sans-serif";
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

form button {
    background-color: rgb(120, 186, 253);
    margin: 1rem;
    border-radius: 10px;
    border: none;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    transform: scale(1.030);
    transition: transform 0.35s ease;
    background-color: rgb(100, 170, 250);
}

footer {
  margin: 1rem auto 0;
  width: 700px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
  padding: 5px;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
}

.column1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
}

.column2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
}

textarea, label[for="feedback"] {
    text-align: center;
}